<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Trail.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value>\\CryptographicMailer</value>
            </setting>
            <setting name="HeaderIdentifier_PublicKey" serializeAs="String">
                <value>X-Public-Key</value>
            </setting>
            <setting name="HeaderIdentifier_SignedMessage" serializeAs="String">
                <value>X-Message-Hash</value>
            </setting>
        </Trail.Properties.Settings>
    </applicationSettings>
</configuration>